@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;700&display=swap');
main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d7ccc8;
}

* {
    margin: 0;
    padding: 0;
}

svg {
    background: #EFECEA;
}

.point{
    opacity: 0.5;
}
.point:hover{
    opacity: 1;
    stroke: #fff;
    stroke-width: 2px;
}
.doping{
    fill: #137B80; 
}
.no-doping{
    fill:#E6842A;
}
.title {
    font-size: 30px;
    font-weight: 700;
}

.title-container {
    background: #F5F3F2;
}

html {
    font-family: 'Libre Franklin', sans-serif;
}

.domain,
.tick line {
    stroke: #C0C0BB;
}

text {
    font-size: 12px;
    fill: #635F5D;
    font-family: 'Libre Franklin', sans-serif;
}

.info {
    font-size: 14px;
    font-weight: 300;
}

.tick text {
    font-weight: 700;
}
div.tooltip, svg{
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}
div.tooltip{
    position: absolute;			
    font-weight: 300;		
    padding: 10px;
    font-size: 12px;
    color:#fff;		
    background: #635F5D;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;	
}